@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Permanent+Marker&family=Sarina&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
div.sushi{
position:relative;
left:120px;
top:400px;
font-size:30px;
font-family:'Abril Fatface',cursive;
animation-name:nishi;
animation-duration:8s;
animation-iteration-count: infinite;
}
body{
background-color:#3BF39B;
}
@keyframes nishi{
0%{color:Orange;bottom:300px;font-family:'Fredoka One',cursive;}
25%{color:Red;left:300px;font-family:'Permanent Marker',cursive;}
50%{color:Crimson;top:300px;font-family:'Dosis',cursive;}
75%{color:Coral;right:300px;font-family:'Satisfy',cursive;}
100%{color:Fuchsia;}
}
